/* All Common CSS File Start  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 8.0;
}
/* All Common CSS File End  */

#venobox{
    padding: 100px 0;
    background: cornflowerblue;
}

#venobox_video{
    
    background: url(../images/pic_one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overly{
    background: rgba(0, 0, 0, 0.7);
    padding: 200px 0;
}
.icons{
    text-align: center;
    font-size: 100px;
}